{% extends '../index_master.html' %}

{% block content %}
<div class="center_col m-2 text-center bg-success rounded text-white" role="main">
  <h1>{% block title%} Perfiles de Clientes/Usuarios {% endblock%}</h1>
</div>

<div class="d-flex justify-content-start align-items-center m-2" style="height: 20vh">
    <div class="col-md-8 d-flex">
      <div class="border p-2 rounded bg-success d-flex align-items-center" style="opacity: 0.75">
        <h5 class="text-white rounded me-1">Cliente<i class="bi bi-person-fill ms-2"></i></h5> 
        <form method="GET" class="d-flex">
          {% csrf_token %}
          <div class="d-flex">
              {{ filter_form.user.label_tag }}
              {{ filter_form.user}}
              <div class="container d-flex align-items-center justify-content-center text-white fw-bold p-1">
                <h6 class="m-1">Es Cliente?</h6>
                <h6 class="m-1">{{ filter_form.is_client}}</h6></div>
          </div>
          <div><button type="submit" class="btn btn-primary ms-1"><i class="bi bi-search"></i></button></div>
      </form>
      </div>
    </div>
    <div class="col-md-4 p-2 justify-content-center align-items-center">
      {% if filter_form.user.errors %}
          <p class="text-danger fw-bold">{{ filter_form.user.errors|join:" " }}</p>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="border rounded p-4">
          <a href="{% url 'profile_create' %}" class="btn btn-sm btn-success text-white"
            ><i class="bi bi-file-earmark-plus me-2"></i>NUEVO - Perfil Cliente/Usuario</a
          >
          <div class="table-responsive rounded mt-4" style="overflow-x: auto;">
          <table class="table">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Nombre y Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>DNI</th>
                <th>Es Cliente?</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for profile in profiles %}
              <tr>
                <td>{{ profile.user.username}}</td>
                <td>{{ profile.user.first_name }} {{ profile.user.last_name }} </td>
                <td>{{ profile.phone }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.dni }}</td>
                <td>{% if profile.is_client %}Sí{% else %}No{% endif %}</td>
                <td>
                  <div class="d-flex">
                  <a
                    href="{% url 'profile_update' profile.pk %}"
                    class="btn btn-info me-2" title="Editar"
                    ><i class="bi bi-pencil-fill"></i></a
                  >
                  <a href="{% url 'profile_delete' profile.pk %}" class="btn btn-danger" title="Eliminar">
                    <i class="bi bi-trash-fill"></i>
                  </a>
                </td>
              </div>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6">No se encontraron Perfiles de Clientes.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
