{% extends '../index_master.html' %} {% block content %}
<div
  class="center_col m-2 text-center bg-success rounded text-white"
  role="main"
>
  <h3>{% block title%} Crear nuevo perfil de Cliente/Usuario {% endblock%}</h3>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="border rounded p-4">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {% for field in form %}
          <div class="form-group m-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}

          <div class="row justify-content-center">
            {% if form.errors %}
            <div class="col-lg-12">
              <div class="border rounded p-4 bg-success text-white">
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    <div class="h6">{{ error }}</div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
          </div>



          <button type="submit" class="btn btn-success">Guardar</button>
          <a href="{% url 'profile_list' %}" class="btn btn-secondary"
            >Cancelar</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
