{%extends '../publica/index.html'%}
{% block title %}
Contacto - {{ block.super }}
{% endblock %}
{% block page_title %}
Contactanos
{% endblock %}
{% block video %}
{% endblock %}
    {% block content %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="container p-5">
             
              <form class="form-horizontal border-0 form-control" method="post" action="#" novalidate>
                {% csrf_token %}
                <fieldset>
                  <legend class="text-center header mb-4">Contacto</legend>

                  {% if messages %}
                  <div class="alert alert-success">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}
    
                  {% for campo in contactform %}
                    <div class="row mb-3">
                      <div class="col-md-1 col-md-offset-2 text-center iconos">
                        {% if campo.label == 'Nombre' %}
                          <i class="bi bi-person-circle"></i>
                        {% elif campo.label == 'Apellido' %}
                          <i class="bi bi-person-circle"></i>
                        {% elif campo.label == 'Email' %}
                          <i class="bi bi-envelope"></i>
                        {% else %}
                          <i class="bi bi-pencil-square"></i>
                        {% endif %}
                      </div>
                      <div class="col-md-11 contactoInputs">
                        {{campo}}
                      </div>
                      <div>
                        <p class="text-danger">{{campo.errors}}</p>
                      </div>
                    </div>
                  {% endfor %}
    
                  <div class="form-group">
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-success btn-m m-3">Enviar</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div class="container justify-content-center align-items-center">
              <div class="container d-flex flex-column align-items-center text-center">
                <p><i class="bi bi-telephone-forward-fill"></i></p>
                  <p><strong>Teléfono:</strong> 4444-4444</p>
                  <p><i class="bi bi-envelope-fill"></i></p>
                  <p><strong>Email:</strong> contacto@reservasnat.com</p>
                <p><i class="bi bi-geo-alt-fill"></i></p>
                <p><strong>Dirección:</strong> Calle BuenaVidaNatural 123, Buenos Aires</p>
              </div>
              <div class="container d-flex flex-column align-items-center text-center">
                <div class="container p-2">
                  <a href="#" class="text-secondary me-2">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="text-secondary me-2">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="text-secondary">
                  <i class="bi bi-envelope"></i>
                </a></div>
                <div class="container">
                  <h6 class="text-secondary">
                    <a href="https://reservasprivadas.org.ar/" class="text-secondary d-inline-block">
                      www.reservasprivadas.org.ar
                    </a>
                  </h6>
                </div>
              </div>
            </div>
      </div>
    </div>
    </section>
    
  {% endblock %}



