{%extends '../publica/index.html'%}

    {% block content %}
    <div class="container m-5">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
       
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
      {% endblock %}
</body>
</html>