{%extends '../publica/index.html'%}
{% load static %}
{% block title %}
Estaś Registrado? - {{ block.super }}
{% endblock title%}


{% block page_title %}
Registrate o Iniciá Sesión
{% endblock %}
{% block video %}
{% endblock %}


{% block content %}
<div class="container px-4 px-lg-5 mt-5">
  <h1 class="my-4 border rounded border-success text-center justify-content-center">Verificación de registro</h1>
  <p>Para continuar con la reserva, tenés que registrarte e iniciar sesión.</p>
  <div class="text-center">
    <a class="btn btn-outline-success mt-auto" href="{% url 'loginrn' %}?next={{ request.GET.next }}">Iniciar sesión</a>
    <a class="btn btn-outline-success mt-auto" href="{% url 'register' %}?next={{ request.GET.next }}">Registrarse</a>
  </div>
</div>
{% endblock content %}