{%extends '../publica/index.html'%}
{% load static %}

{% block title %}
Registro - {{ block.super }}
{% endblock title%}


{% block page_title %}
Registrate para hacer tu reserva
{% endblock %}
{% block video %}
{% endblock %}

    {% block content %}
    <div class="container m-5">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="border rounded p-4">
      <form method="post">
        {% csrf_token %} {% for field in form %}
        <div class="form-group m-3">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}

        <div class="row justify-content-center">
          {% if form.errors %}
          <div class="col-lg-12">
            <div class="border rounded p-4 bg-success text-white">
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <div class="h6">{{ error }}</div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
        {% comment %} {% csrf_token %}
        {{ form.as_p }} {% endcomment %}
        <button type="submit" class="btn btn-success">Registarte</button>
      </form>
    </div>
  </div>
</div>
</div>
      {% endblock %}
</body>
</html>