{%extends '../publica/index.html'%}

{% load static %}

{% block title %}Reserva Exitosa{% endblock %}
{% block video %}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 bg-light p-4 rounded border border-success m-4">
        <h2 class="text-success text-center justify-content-center p-2">¡Reserva Exitosa!</h2>
        <p class="text-center">Código de Reserva: {{ reservation.code }}</p>
        {% comment %} <p class="text-center">Nombre y Apellido: {{ reservation.user.get_full_name }}</p>
        <p class="text-center">Camping Reservado: {{ reservation.campsite.name }}</p>
        <p class="text-center">Fecha de Check-in: {{ reservation.check_in }}</p>
        <p class="text-center">Fecha de Check-out: {{ reservation.check_out }}</p>
        <p class="text-center">Número de Huéspedes: {{ reservation.number_guests }}</p>
        <p class="text-center">Costo Total: ${{ reservation.total_cost }}</p> {% endcomment %}
      </div>

      <div class="col-md-6 bg-light p-4 rounded border border-success m-4">
        <h3 class="text-success text-center justify-content-center p-2">Completá los datos de los Huéspedes</h3>

        <form method="post">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset %}
          <div class="container p-3 rounded border border-success mb-3">
            {{ form.as_table }}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-success m-3">Guardar Huéspedes</button>
        </form>
      </div>
      <p class="p-2 text-center">
        <a href="{% url 'Inicio' %}" class="btn btn-secondary">Inicio</a>
      </p>
    </div>
  </div>
{% endblock %}
